---
import '../styles/global.css';

import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Counter from '../components/Counter.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="NENE EXPRESS - Coming Soon">
  <main>
    <!-- Header -->
    <Header />

    <!-- Hero Section -->
    <Hero />

    <!-- Countdown Section -->
	<Counter />

    <!-- Contact Section -->
    <Contact />
  </main>
</Layout>